* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
}

#Returns {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#Header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}


.Text-Box {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.Info{
    margin-bottom: 10px;
    font-weight: bold;
}

#Return_Information {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

input[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding:10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

textarea {
    resize:none;
}