* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
}

#Outline {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#SignUp {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#InfoBoxes {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

.Info{
    margin-bottom: 10px;
    font-weight: bold;
}

.Text-Box {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

#account_button {
    width:40%;
    height:25px;
    margin-bottom:20px;
    margin-top:10px;
}

#trouble {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    Height:100px;
}