#Outline {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
#SignUp {
    background-color: #598fbc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #4d7894;
    border-radius: 10px;
}
.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 50px;
    border-radius: 5px;
}
.right {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    background-color: rgb(87, 87, 252); 
    padding: 10px; 
    border-radius: 10px; 
    margin: 5px;
}
.left {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: #E6E6E6; 
    padding: 10px;
    border-radius: 10px; 
    margin: 5px;
}
.chatid {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #999;
  }
  textarea {
    resize:none;
}
.text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.sub{
    padding: 10px;
    border-radius: 50px;
}
.txthold{
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
body{
    font-size: 16px;
    color: black;
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}