#Outline {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
#SignUp {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 50px;
    border-radius: 5px;
}
.right {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    background-color: rgb(87, 87, 252); 
    padding: 10px; 
    border-radius: 10px; 
    margin: 5px;
}
.left {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: #E6E6E6; 
    padding: 10px;
    border-radius: 10px; 
    margin: 5px;
}
.chatid {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #999;
  }