#Outline {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
#SignUp {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.chat {
    margin: 10px; 
}
.right {
    float: right; 
    background-color: rgb(87, 87, 252); 
    padding: 10px; 
    border-radius: 10px; 
    margin: 5px;
}
.left {
    float: left; 
    background-color: #E6E6E6; 
    padding: 10px;
    border-radius: 10px; 
    margin: 5px;
}