#con {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4d7894;
    border-radius: 5px;
    width: 100%;
    flex-direction: column;
    background-color: #598fbc;

}
.order-box {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #4d7894;
}
.item {
    margin-bottom: 10px;
}
#SignUp {
    background-color: #598fbc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #4d7894;
    border-radius: 10px;
}
#Outline {
max-width: 600px;
margin: 0 auto;
padding: 20px;
box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
textarea{
    resize: none;
}
#prdthing{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
#num305{
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #4d7894;
}
.rev2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}
#sub{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid #4d7894;
    border-radius: 5px;
}
#cleanup{
    margin-bottom: 15px;
}