body{
    background-color: lightgrey;
}

#con{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indcon{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #4d7894;
    margin: 7px;
    border-radius: 15px;
    background-color: white;
}

#indcon:hover{
    border-width: 2px;
}

.prod_con{
    font-size: 17pt;
    font-weight: bold;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
}

.desc_con{
    padding-top: 10px;
    width: 100%;
}

.price_con{
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.old_price_con{
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

#prodbut{
    display: flex;
    justify-content: space-around;
}

.images{
    z-index: 1;
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    aspect-ratio: 2/1;
    object-fit: contain;
    mix-blend-mode: color-burn;
    display: flex;
    align-self: center;
}

.sub{
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    width: 100px;
    border: 1px solid #4d7894;
    background-color: white;
    border-radius: 5px;
}
textarea{
    resize: none;
    margin-right: 10px;
}
.maxhatesjon {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.holdpls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
}
  
#btn3 {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4d7894;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#btn3:hover {
    background-color: #83c9f7;
}