* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: black;
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}

#Returns {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#Header {
    background-color: #598fbc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #4d7894;
    border-radius: 10px;
}

.Text-Box {
    width: 95%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.Info{
    margin-bottom: 10px;
    font-weight: bold;
}

#Return_Information {
    background-color: #598fbc;
    padding: 20px;
    border: 1px solid #4d7894;
    border-radius: 10px;
}

textarea {
    resize:none;
}

input[type=submit] {
    font-size: 15px;
    font-weight: bold;
    width: 25%;
    height: 35px;
    margin-bottom:20px;
    margin-top:10px;
    border: 1px solid #4d7894;
    background-color: white;
    border-radius: 5px;
}

select{
    border: 1px solid #4d7894;
    background-color: white;
    border-radius: 5px;
    width: 30%;
    height: 27px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#Submit_Return {
    justify-content:center;
    text-align:center;
}