{% extends "vendtask.html" %}
{% block body %}
    {% for return in return_list %}
        <div>{{ return['Date_requested'] }}</div>
        <div>{{ return['Description'] }}</div>
        <div>{{ return['Demand'] }}</div>
        <img src="{{ return['Image'] }}">
        <div>{{ return['Status'] }}</div>
        <form action="/ad_return" method="post">
            <input type="hidden" name='Return_id' value="{{ return[8] }}">
            <select name="Status">
                <option value="Rejected">Rejected</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Processing">Processing</option>
                <option value="Complete">Complete</option>
            </select>
            <input type="submit" value="Change Status">
        </form>
    {% endfor %}
{% endblock %}