<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="../css/Base.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id = 'Outline'>
        <div id = 'SignUp'>
            <h1>Sign Up</h1>
        </div>
        <div id = 'InfoBoxes'>
            <div id = 'Email' class = 'Info'>
                <form>
                <div>Email:</div>
                <input type = 'text' class = 'Text-Box'>
                </form>
            </div>
            <div id = 'Username' class = 'Info'>
                <form>
                <div>Username:</div>
                <input type = 'text' class = 'Text-Box'>
                </form>
            </div>
            <div id = 'Password' class = 'Info'>
                <form>
                <div>Password:</div>
                <input type = 'text' class = 'Text-Box'>
                </form>
            </div>
        </div>
    </div>
</body>
</html>