<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="../static/Base.css" rel="stylesheet" type="text/css">
</head>
<body>
{% extends "start_task.html" %}
{% block body %}
    <div id = 'Outline'>
        <div id = 'SignUp'>
            <h1>Sign Up</h1>
        </div>
        <div id = 'InfoBoxes'>
            <form action="/signup" method="POST">
            <div id = 'Email' class = 'Info'>
                <div>Email:</div>
                <input type = 'text' class = 'Text-Box' name = 'Email' placeholder="Email">
            </div>
            <div id = 'Name' class = 'Info'>
                <div>Name:</div>
                <input type = 'text' class = 'Text-Box' name = 'Name' placeholder="Name">
            </div>
            <div id = 'Username' class = 'Info'>
                <div>Username:</div>
                <input type = 'text' class = 'Text-Box' name = 'Username' placeholder="Username">
            </div>
            <div id = 'Password' class = 'Info'>
                <div>Password:</div>
                <input type = 'text' class = 'Text-Box' name = 'Password' placeholder="Password">
            </div>
            <div class = 'Info'>
                <div>Account Type:</div>
                <select name = 'Account_type' id = 'Type'>
                    <option value = 'Customer'>Customer</option>
                    <option value = 'Vendor'>Vendor</option>
                </select>
            </div>
            <div id = 'Create_Account'>
                <input type = 'submit' value = 'Submit' id = 'account_button'>
            </div>
            <div class = 'Info'>
                <a href = '/login'>Already have an account?</a>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
</html>