<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="../css/Base.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id = 'Outline'>
        <div id = 'SignUp'>
            <h1>Sign Up</h1>
        </div>
        <div id = 'InfoBoxes'>
            <form>
            <div id = 'Email' class = 'Info'>
                <div>Email:</div>
                <input type = 'text' class = 'Text-Box' name = 'Email'>
            </div>
            <div id = 'Name' class = 'Info'>
                <div>Name:</div>
                <input type = 'text' class = 'Text-Box' name = 'Name'>
            </div>
            <div id = 'Username' class = 'Info'>
                <div>Username:</div>
                <input type = 'text' class = 'Text-Box' name = 'Username'>
            </div>
            <div id = 'Password' class = 'Info'>
                <div>Password:</div>
                <input type = 'text' class = 'Text-Box' name = 'Password'>
            </div>
            <div class = 'Info'>
                <div>Account Type:</div>
                <select name = 'Account_type' id = 'Type'>
                    <option value = 'Customer'>Customer</option>
                    <option value = 'Vendor'>Vendor</option>
                </select>
            </div class = 'Info'>
            <div id = 'Create Account'>
                <input type = 'button' value = 'Create Account' id = 'account_button'>
            </div>
            <div class = 'Info'>
                <a href = '../templates/login.html'>Already have an account?</a>
            </div>
            </form>
        </div>
    </div>
</body>
</html>