<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/chat.css">
</head>
<body>
    {% if account[0][0] == 'Customer' %}
    {% extends "taskbar.html" %}
  
    {% else %}
        {% extends "vendtask.html" %}
    {% endif %}
    {% block body %}
    <div  id = 'Outline'>
        <div id = 'SignUp'>
            <h1>Chats</h1>
            {% if account[0][0] == 'Customer' %}
            <form action="/new_message" method="POST">
                <select name="New">
                    <option>Start a new chat with a vendor</option>
                    {% for vendor in vendors %}
                        <option value="{{ vendor[1] }}">{{ vendor[0] }}</option>
                    {% endfor %}
                </select>
                <textarea name="message" placeholder="What do you need to say"></textarea>
                <input type="submit" value="Send message">
            </form>
            {% endif %}
        </div>
        {% for chat in range(chats|length) %}
            <div class="chat">
                <div class="chatid">{{ users[chat][0][0] }}</div>
                {% for message in messages[chat] %}
                    {% if message[2] | string == id | string%}
                        <div class="right">{{ message[0] }}</div>
                    {% else %}
                        <div class="left">{{ message[0] }}</div>
                    {% endif %}
                {% endfor %}
                <div class="txthold">
                     {% if account[0][0] == 'Customer' %}
                        <form action="/chat" method="POST" class="text">
                            <textarea name="message" placeholder="Enter a message" cols="40" rows="6"></textarea>
                            <input type="hidden" name="Chat" value="{{ chats[chat][0] }}">
                            <input type="hidden" value="{{ id }}" name="Id">
                            <input type="submit" value="Submit" class="sub">
                        </form>
                    {% else %}
                        <form action="/admin_chat" method="POST"  class="text">
                            <textarea name="message" placeholder="Enter a message" cols="40" rows="6"></textarea>
                            <input type="hidden" name="Chat" value="{{ chats[chat][0] }}">
                            <input type="hidden" value="{{ id }}" name="Id">
                            <input type="submit" value="Submit" class="sub">
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>