<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/Login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div  id = 'Outline'>
        <div id = 'SignUp'>
            <h1>Login</h1>
        </div>
        <div id = 'InfoBoxes'>
        <form action="/login" method="POST">
          
            <div id = 'Email' class = 'Info'> 
                <h2>Username or Email:</h2>
                <input type="text" name="Info" placeholder="Username or Email" class = 'Text-Box2'> <br>
            </div>
            <div>
                <h2>Password:</h2>
                <input type="text" name="Password" placeholder="Password" class = 'Text-Box2'> <br>
            </div>
            <div>
                <input type="submit" value="Submit" class="sub">
            </div> 
            <div class = 'Info2'>
                <a href = '../templates/Base.html'>Don't have an account?</a>
            </div>
        </form>
        </div>
    </div>
</body>
</html>