{% extends "taskbar.html" %}
{% block body %}
<link rel="stylesheet" href="../static/order.css">
    <div  id = 'Outline'>
        <div id = 'SignUp'>
            <h1>Orders</h1>
        </div>
        <div id="con">
            {% for order in range(orders|length) %}
                <div class="order-box" style="padding: 20px;">
                    <div class="item" style="margin: 15px;">Status: {{ orders[order]['Status'] }}</div>
                    <div class="item" style="margin: 15px;">Order Date: {{ orders[order]['date_ordered'] }}</div>
                    {% for product in products[order] %}
                        {% for i in product %}
                            <div class="item" style="margin: 15px;">{{ i['Product_name'] }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
<div  id = 'Outline'> 
    <form action="/orders" method="POST">
        <div id = 'SignUp'>
            <h1>
                Review your item
            </h1>
        </div>
            <div id="con">
                <select name='product_id' id="prdthing">
                    <option>
                        None
                    </option>
                    {% for item in review_item_list %}
                        <option value="{{ item['Product_id'] }}">{{ item['Product_name'] }}</option>
                    {% endfor %}
                </select>
        
                <div>
                    Please input your rating from 1 to 5.
                </div>
                    <input  id="num305" type="number" name="rating" id="rating" min="1" max="5">
                <div class="rev2">
                    <div id="cleanup">Please write a review for the product:</div>
                    <textarea name="desc" class = 'Text-Box' cols="50" rows="8"></textarea>
                </div>
            <div>
                <input type = 'submit' value = 'Submit Review' id="sub">
            </div>
        </div>
    </form>   
</div>
        
{% endblock %}

