<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/order.css">
</head>
<body>
    {% extends "taskbar.html" %}
{% block body %}
    <div  id = 'Outline'>
        <div id = 'SignUp'>
            <h1>Orders</h1>
        </div>
        <div id="con">
            {% for order in range(orders|length) %}
                <div class="order-box" style="padding: 20px;">
                    <div class="item" style="margin: 15px;">Status: {{ orders[order]['Status'] }}</div>
                    <div class="item" style="margin: 15px;">Order Date: {{ orders[order]['date_ordered'] }}</div>
                    {% for product in products[order] %}
                        {% for i in product %}
                            <div class="item" style="margin: 15px;">{{ i['Product_name'] }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

</body>
</html>
