<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/ProductAdd.css" rel="stylesheet" type="text/css">
    <title>Add Product</title>
</head>
<body>
    <div id = 'Outline'>
        <div id = 'Header'>
            <h1>Add products</h1>
        </div>  
        <div id = 'Info-Boxes'>
            <form>
            <div class = 'Info' id = 'Product_Name'>
                <div>Products Name</div>
                <input type = 'text' class = 'text-box'>
            </div>
            <div class = 'Info' id = 'Description'>
                <div>Description for the item</div>
                <textarea class = 'Text-Box' cols="50" rows="8"></textarea>
            </div>
            <div class = 'Info' id = 'Quantity'>
                <div>Products Quantity</div>
                <input type = 'text' class = 'text-box'>
            </div>
            <div class = 'Info' id = 'Warranty'>
                <div>Products Warranty</div>
                <input type = 'text' class = 'text-box'>
            </div>
            <div class = 'Info' id = 'Price'>
                <div>Products Price</div>
                <input type = 'text' class = 'text-box'>
            </div>
            <div class = 'Info' id = 'Size'>
                <div>Products Sizes</div>
                <input type = 'text' class = 'text-box'>
            </div>
            <div class = 'Info' id = 'Colors'>
                <div>Products Colors</div>
                <input type = 'text' class = 'text-box'>
            </div>
            <div class = 'Info' id = 'Images'>
                <div>Products Image (url)</div>
                <input type = 'text' class = 'text-box'>
            </div>
            <div id = 'Submit_Product'>
                <input type = 'submit' value = 'Add Product'>
            </div>
            </form>
        </div>
        
    </div>
</body>
</html>