{% extends "start_task.html" %}
{% block body %}
<link rel="stylesheet" href="../static/product.css">
    <div id="con">
        {% for product in products %}
        <div id="indcon">
            <div class="prod_con">{{ product['Product_name'] }}</div>
            <img src="{{ product['Image'] }}">
            <div class="desc_con">Description:<br>{{ product['Description'] }}</div>
            {% if product[9] %}
            <div class="price_con">${{ product['New_price'] }}</div>
            {% else %}
            <div class="price_con">${{ product['Price'] }}</div>
            {% endif %}
        <div id="prodbut">
          <a href="/login"><button class="sub">Add to cart</button></a>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}