<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Returns</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/Returns.css'>
</head>
<body>
    <div id = 'Returns'>
        <div id = 'Header'>
            <h1>Returns</h1>
        </div>
        <div id = 'Return_Information'>
            <form>
            <div id = 'Product_Id' class = 'Info'>
                <div>Product ID</div>
                <input type = 'Text' class = 'Text-Box'>
            </div>
            <div id = 'Description' class = 'Info'>
                <div>How has this product caused you trouble?</div>
                <textarea class = 'Text-Box' cols="50" rows="8"></textarea>
            </div>
            <div id = 'Demand' class = 'Info'>
                <div>Please select how you would like to be compensated</div>
                <select name = 'customer_demand'>
                    <option value = 'Return'>Return</option>
                    <option value = 'Refund'>Refund</option>
                    <option value = 'Warranty Claim'>Warranty Claim</option>
                </select>
            </div>
            <div id = 'Submit_Return'>
                <input type = 'Button' value = 'Submit Return'>
            </div>
            </form>
        </div>
    </div>
</body>
</html>
