<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/taskstyle.css" type="text/css">
    <title>Final Website</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <header id="head">
        <div id="taskb">
            <div id="items">
                <div class="taskitem"><a href="/products">Products</a></div>
                <div class="taskitem"><a href="/cart ">Cart</a></div>
                <div class="taskitem"><a href="/orders">Orders</a></div>
                <div class="taskitem"><a href="/returns">Returns</a></div>
                <div class="taskitem"><a href="/chat">Chats</a></div>
            </div>
            <div class="dropdown" style="float:right;">
                <div id="acctItem" class="dropbtn"><ion-icon name="person-outline"></ion-icon></div>
                <div class="dropdown-content">
                    <a href="/profile">My Profile</a>
                    <a href="/">Log Out</a>
                </div>
            </div>

        </div>
    </header>
    {% block body %}
    {% endblock %}

</body>
</html>