<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/vendtaskstyle.css" type="text/css">
    <title>tasks</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <header id="head">
        <div id="taskb">
            <div id="items">
                <div class="taskitem">Products</div>
                <div class="taskitem">Cart</div>
                <div class="taskitem">Orders</div>
                <div class="taskitem">Returns</div>
                <div class="taskitem">Chats</div>
                <div class="taskitem">Edit/ Delete Products</div>
                <div class="taskitem">Add Products</div>
            </div>
            <div id="acctItem"><ion-icon name="person-outline"></ion-icon></div>
        </div>
    </header>
{% block body %}
{% endblock %}
</body>
</html>